@import url(https://fonts.googleapis.com/css?family=Raleway:100);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body{
    background-color:whitesmoke;
}
figure.snip1471 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  background: #000000;
  color: #ffffff;
    border-radius:10%;
}
figure.snip1471 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1471 img {
  opacity: 0.8;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1471 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1471 figcaption > div {
  height: 70%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
figure.snip1471 h2,
figure.snip1471 h3,
figure.snip1471 .icons {
  margin: 0;
  position: absolute;
  right: 0;
  padding: 0 30px;
  text-transform: uppercase;
   font-size:20px; 
}
figure.snip1471 h2 {
  font-weight: 900;
  bottom: 0;
}
figure.snip1471 h3 {
  font-size: 1em;
  top: 0;
  font-weight: 500;
}
figure.snip1471 .icons {
  opacity: 0;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}
figure.snip1471 .icons a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  font-size: 1.6em;
  opacity: 0.6;
}
figure.snip1471 .icons a:hover {
  opacity: 1;
  cursor: pointer;
}
figure.snip1471:hover img,
figure.snip1471.hover img {
  opacity: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1471:hover figcaption h3,
figure.snip1471.hover figcaption h3 {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  opacity: 0;
}
figure.snip1471:hover figcaption .icons,
figure.snip1471.hover figcaption .icons {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
